group: travis_latest
sudo: required
language: node_js
node_js:
 - "8"

before_install:
  - sudo apt-get update
  - sudo apt-get install -o Dpkg::Options::="--force-confold" --force-yes -y docker-ce

install:
  - npm install -D
  - docker pull codingblocks/judge-worker-c
  - docker pull codingblocks/judge-worker-cpp
  - docker pull codingblocks/judge-worker-java8
  - docker pull codingblocks/judge-worker-py2
  - docker pull codingblocks/judge-worker-nodejs6
  - docker pull codingblocks/judge-worker-nodejs8

script:
  - npm run cover

after_success:
  - bash <(curl -s https://codecov.io/bash)
